<!DOCTYPE html>
<html>
<head>
	<title>To do list</title>

	<script src="./js/shared/angular.min.js"></script>
	
	<script type="text/javascript" scr="./js/app.js"></script>
	<script type="text/javascript" scr="./js/controllers/TodoCtrl.js"></script>

	<link rel="stylesheet" href="bootstrap.css" />
	<link rel="stylesheet" href="todo.css" />
</head>
<body ng-app>
<div ng-controller="TodoCtrl">
	<h2>Todo lists</h2>
	<ul>
		<li ng-repeat="todolist in todolists">
			
		</li>
	</ul>
	<form class="form-horizontal">
	<input type="text" ng-model="formTodoText">
	<button class="btn" ng-click="addTodoList()"><i class="icon=plus"></i>Add list</button>
	</form>
</div>
</body>
</html>