<!DOCTYPE html>
<html>
	<head>
		<title>To do list</title>

		<script src="./js/shared/angular.min.js"></script>

		<link rel="stylesheet" href="bootstrap.css" />
		<link rel="stylesheet" href="todo.css" />
	</head>
	<body ng-app="todoApp">
		<div ng-controller="TodoCtrl">
			<h2>Todo lists</h2>
			<div>{{ HelloWorld }}</div>
			<ul>
				<li ng-repeat="todolist in todolists">
					<span class="done-{{todo.done}}">{{ todolist.text }}</span>
				</li>
			</ul>
			<form class="form-horizontal">
				<input type="text" ng-model="formTodoText">
				<button class="btn" ng-click="addTodoList()"><i class="icon=plus"></i>Add list</button>
			</form>
		</div>

		<!-- Modules -->
	    <script src="js/app.js"></script>

	    <!-- Controllers -->
	    <script src="js/controllers/TodoCtrl.js"></script>
	</body>
</html>